*

!Dockerfile
!package.json
!package-lock.json
!next-env.d.ts
!next.config.ts
!postcss.config.mjs
!prisma.config.ts
!tsconfig.json
!eslint.config.mjs

!src/
!src/**
!prisma/
!prisma/**
!public/
!public/**
!generated/
!generated/**

!.dockerignore
!README.md
!LICENSE
